{% extends 'store/base.html' %}
{{title}}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-6 col-md-7">
            <div class="container">
                <div class=" input-group mb-2 py-2 ">
                    <P class="h2 text-center pb-2 text-capitalize text-black-50"> Add New Item</P>
                </div>

                <form action="" method="post" class="form">
                    <!-- item Item received date -->
                    <div class=" input-group mb-2 py-2 ">
                        <span class="input-group-text w-50 ">Received date</span>
                        <input class="form-control text-bg-primary bg-opacity-10 text-black-50" type="date"
                            name="itemCode" placeholder="" required>
                    </div>


                    <!-- item name -->
                    <div class="input-group mb-2 py-2">
                        <span class="input-group-text w-50">Item Name</span>
                        <input class="form-control text-bg-primary bg-opacity-10" type="text" name="itemName"
                            placeholder="Ex: tent" required>
                    </div>

                    <!-- item quantity -->
                    <div class=" input-group mb-2 py-2">
                        <span class="input-group-text w-50">Item quantity</span>
                        <input class="form-control text-bg-primary bg-opacity-10 text-black-50" type="number"
                            name="itemQty" min="1" placeholder="0" required>
                    </div>

                    <!-- item donour -->
                    <div class=" input-group mb-2 py-2 ">
                        <span class="input-group-text w-50">Donour Name</span>
                        <input class="form-control bg-opacity-10" type="text" name="isdonation"
                            placeholder="Ex: Kusal Mendis">
                    </div>

                    <!-- item  expiry date -->
                    <div class=" input-group mb-2 py-2 ">
                        <span class="input-group-text w-50">Item expiry date</span>
                        <input class="form-control" type="date" name="expiry" placeholder="">
                    </div>

                    <!-- item measurement unit -->
                    <div class=" input-group mb-2 py-2 ">
                        <span class="input-group-text w-75">Item measurement unit</span>
                        <input class="form-control text-bg-primary bg-opacity-10" type="text" name="unit"
                            placeholder="Ex: ml">
                    </div>

                    <!-- item  market price of a unit -->
                    <div class=" input-group mb-2 py-2 ">
                        <span class="input-group-text">Unit market price</span>
                        <span class="input-group-text">Rs.</span>
                        <input class="form-control text-bg-primary bg-opacity-10" type="number" name="Price"
                            placeholder="000">
                    </div>

                    <!-- item  total price -->
                    <div class=" input-group mb-2 py-2">
                        <span class="input-group-text bg-info border-0 ">Total price</span>
                        <span class="input-group-text bg-info border-0">Rs.</span>
                        <input id="total" type="number" class="form-control bg-info text-black border-0"
                            placeholder="50" name="total" disabled>
                    </div>
                    <div class="form-group text-center m-1 py-2">
                        <div class="col-sm-offset-2">
                            <button class="btn btn-primary btn-lg" type="submit">Add Item</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <div class="col-xl-6 col-md-5">
            <div class="row">
                <div class="row">
                    <div class="container">
                        <div class=" input-group mb-2 py-2 ">
                            <P class="h2 text-center pb-2 text-capitalize text-black-50"> Add Item to Broken Items
                            </P>
                        </div>

                        <form action="" method="post" class="form">
                            <!-- item name -->
                            <div class="input-group mb-2 py-2">
                                <span class="input-group-text w-50">Item Code</span>
                                <input class="form-control text-bg-primary bg-opacity-10" type="text" name="itemName"
                                    placeholder="Ex: 001" required>
                            </div>

                            <!-- item quantity -->
                            <div class=" input-group mb-2 py-2">
                                <span class="input-group-text w-50">Item quantity</span>
                                <input class="form-control text-bg-primary bg-opacity-10 text-black-50" type="number"
                                    name="itemQty" min="1" placeholder="0" required>
                            </div>

                            <div class="form-group text-center m-1 py-2">
                                <div class="col-sm-offset-2">

                                    <button class="btn btn-primary btn-lg" type="submit">Add to broken</button>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        <div class=" input-group mb-2 py-2 ">
                            <P class="h2 text-center pb-2 text-capitalize text-black-50"> Return From Broken Items
                            </P>
                        </div>

                        <form action="" method="post" class="form">
                            <!-- item name -->
                            <div class="input-group mb-2 py-2">
                                <span class="input-group-text w-50">Item Code</span>
                                <input class="form-control text-bg-primary bg-opacity-10" type="text" name="itemName"
                                    placeholder="Ex: 001" required>
                            </div>

                            <!-- item quantity -->
                            <div class=" input-group mb-2 py-2">
                                <span class="input-group-text w-50">Item quantity</span>
                                <input class="form-control text-bg-primary bg-opacity-10 text-black-50" type="number"
                                    name="itemQty" min="1" placeholder="0" required>
                            </div>

                            <div class="form-group text-center m-1 py-2">
                                <div class="col-sm-offset-2">
                                    <button class="btn btn-primary btn-lg" type="submit">Item Repaired</button>

                                </div>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- Bootstrap JS -->
<script src="https://www.markuptag.com/bootstrap/5/js/bootstrap.bundle.min.js"></script>
</body>

</html>